.soccer #match-details {
  margin: -21px 0 0 !important
}

.match-live #arena .events.team1.possession, .match-live #arena .events.team1.goalkick {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  box-align: start
}

.match-live #arena .events.team2.possession, .match-live #arena .events.team2.goalkick {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  box-align: end
}

.match-live #arena .events.team1.dfreekick, .match-live #arena .events.team1.sfreekick {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  box-align: end;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  box-pack: start
}

.match-live #arena .events.team2.dfreekick, .match-live #arena .events.team2.sfreekick {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  box-align: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  box-pack: start
}

.match-live #arena .events.team1.corner, .match-live #arena .events.abouttotake, .match-live #arena .events.team1.penalty {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  box-align: end
}

.match-live #arena .events.team2.corner, .match-live #arena .events.team2.penalty {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  box-align: start
}

.soccer #arena .events div {
  font-weight: bold
}

.match-live #arena .events .anim p span.team, .match-live #arena .events #genericTeamEvent p span.team {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.soccer #arena {
  padding: 0;
  background-image: url(liquid_grfx/Soccer_pitch@800px.png)
}

.soccer #arena.artificialTurf {
  background-image: url(liquid_grfx/pitch/Soccer_Pitch_Artificial.png)
}

.soccer #arena.excellent {
  background-image: url(liquid_grfx/pitch/Soccer_Pitch_Excellent.png)
}

.soccer #arena.goalmouthsAffected {
  background-image: url(liquid_grfx/pitch/Soccer_Pitch_Goalmouths_Affected.png)
}

.soccer #arena.good {
  background-image: url(liquid_grfx/pitch/Soccer_Pitch_Good.png)
}

.soccer #arena.snowy {
  background-image: url(liquid_grfx/pitch/Soccer_Pitch_Snowy.png)
}

.soccer #arena.unevenCuttingUp {
  background-image: url(liquid_grfx/pitch/Soccer_Pitch_Uneven.png)
}

.soccer #arena.wet {
  background-image: url(liquid_grfx/pitch/Soccer_Pitch_Wet.png)
}

.soccer #arena .events .score.anim > p, .soccer #arena .events .goal > p, .soccer #arena .events .yellowcard > p, .soccer #arena .events .redcard > p, .soccer #arena .events .generic > p, .soccer #arena .events .sfreekick > p, .soccer #arena .events .dfreekick > p, .soccer #arena .events .offside > p {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  box-pack: center;
  position: relative;
  -ms-flex-direction: column
}

#animImageEvent.goal, #animImageEvent.score, #animImageEvent.yellowcard, #animImageEvent.redcard, #animImageEvent.offside {
  min-width: 36%;
  max-width: 60%;
  padding: 10px
}

#animImageEvent.yellowcard, #animImageEvent.redcard {
  min-width: 44%
}

#genericEvent, #genericTeamEvent {
  min-height: 20%;
  max-height: 27%;
  min-width: 30%
}

#genericTeamEvent {
  max-width: 70%
}

.soccer #arena .events .score.anim, .soccer #arena .events .goal, .soccer #arena .events .yellowcard, .soccer #arena .events .redcard, .soccer #arena .events .offside, .soccer #arena .events .generic {
  background: #5b6e0d;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#5b6e0d), to(#4e6200));
  background-image: -webkit-linear-gradient(top center, #5b6e0d, #4e6200);
  border: 1px solid #314114;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  -webkit-border-radius: 3px
}

.soccer #arena .events .yellowcard, .soccer #arena .events .redcard, .soccer #arena .events .goal, .soccer #arena .events .offside {
  text-align: left
}

.soccer #arena .events .yellowcard > p, .soccer #arena .events .redcard > p {
  padding: 0 23% 0 4px;
  width: 74%
}

.soccer #arena .events .yellowcard > p:after, .soccer #arena .events .redcard > p:after {
  content: "";
  width: 15%;
  height: 73%;
  display: block;
  top: 12%;
  right: 5px;
  z-index: 99;
  border: 1px solid;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.5)
}

.soccer #arena .events .yellowcard > p:after {
  border-color: #ffdf1b;
  background: #ffdf1b;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fffa25), to(#ffdf1b));
  background-image: -webkit-linear-gradient(top center, #fffa25, #ffdf1b);
  background-image: linear-gradient(to top, #fffa25, #ffdf1b)
}

.soccer #arena .events .redcard > p:after {
  border-color: #a81216;
  background: #a81216;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#de232b), to(#a81216));
  background-image: -webkit-linear-gradient(top center, #de232b, #a81216);
  background-image: linear-gradient(to top, #de232b, #a81216)
}

.soccer .events .goalkick p:before, .soccer .events .corner p:before {
  width: 50%;
  height: 100%;
  background-image: url(liquid_grfx/goalkick@4x.gif);
  -webkit-background-size: 41%;
  background-size: 41%;
  background-position: right top
}

.soccer .events .corner p:before {
  background-image: url(liquid_grfx/corner@4x.gif);
  background-position: right center
}

.soccer #arena .events .offside.team1 > p {
  padding: 0 23% 0 4px;
  width: 74%
}

.soccer #arena .events .offside.team2 > p {
  padding: 0 4px 0 23%;
  width: 74%;
  text-align: right
}

.soccer .events .offside p:before {
  width: 22%;
  height: 100%;
  background-image: url(liquid_grfx/offside2@2x.png);
  -webkit-background-size: auto 80%;
  background-size: auto 80%;
  background-position: center
}

.soccer .team1.offside p:before {
  right: 2px
}

.soccer .team2.offside p:before {
  left: 2px
}

.soccer #arena .events canvas {
  left: 1.5%
}

.soccer #arena .events .possession.safe {
  width: 48%
}

.soccer #arena .events .possession.attack {
  width: 65%
}

.soccer #arena .events .possession.danger {
  width: 84%
}

.soccer .events .team1.score.anim p, .soccer .events .team1.goal p {
  text-align: left;
  padding: 0 32% 0 3%;
  width: 65%
}

.soccer .events .team2.score.anim p, .soccer .events .team2.goal p {
  text-align: right;
  padding: 0 3% 0 32%;
  width: 65%
}

.soccer .events .score.anim p:before, .soccer .events .goal p:before {
  width: 32%;
  height: 100%;
  background-image: url(liquid_grfx/goal.png);
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-position: center right
}

.soccer .team1.score.anim p:before, .soccer .team1.goal p:before {
  right: 2px
}

.soccer .team2.score.anim p:before, .soccer .team2.goal p:before {
  left: 2px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1)
}

.coupon-stats.icons .corners, .stats.icons .corners {
  width: auto;
  height: 15px;
  display: inline-block;
  padding: 0 0 0 14px;
  margin: 0 0 -2px;
  text-align: left;
  background-image: url(grfx/corner-stats-flag.png);
  background-position: 0 1px;
  background-repeat: no-repeat
}

.soccer #arena .events .corner {
  width: 50%;
  padding: 0 8%
}

.soccer #arena .events .corner.team1 p {
  text-align: right
}

.soccer #arena .events .corner.team2 p {
  text-align: left
}

.soccer #arena .events .corner p:before {
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 40%;
  width: 6%;
  bottom: 5%;
  left: 0;
  margin-left: 2%
}

.soccer #arena .events .corner.team1 p:before {
  right: 2%;
  left: auto
}

.soccer #arena .events .corner.team1.zone1 p:before, .soccer #arena .events .corner.team2.zone1 p:before {
  top: 1%
}

.soccer #arena .events .corner.team1.zone1 p:before {
  -webkit-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  -moz-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1)
}

.soccer #arena .events .corner.team1.zone2 p:before {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1)
}

.soccer #arena .events .corner.team2.zone1 p:before {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1)
}

.soccer #arena .events .throw {
  padding: 7% 0 7% 0;
  width: 35%;
  position: absolute
}

.soccer .events .throw.team1 {
  float: left;
  text-align: right
}

.soccer .events .throw.team2 {
  float: right;
  text-align: left
}

.soccer #arena .events .throw.team2.zone1, .soccer #arena .events .throw.team2.zone3, .soccer #arena .events .throw.team2.zone5, .soccer #arena .events .throw.team1.zone2, .soccer #arena .events .throw.team1.zone4, .soccer #arena .events .throw.team1.zone6, .soccer #arena .events .throw.team1.zone0, .soccer #arena .events .throw.team2.zone0 {
  top: 1%
}

.soccer #arena .events .throw.team2.zone2, .soccer #arena .events .throw.team2.zone4, .soccer #arena .events .throw.team2.zone6, .soccer #arena .events .throw.team1.zone1, .soccer #arena .events .throw.team1.zone3, .soccer #arena .events .throw.team1.zone5 {
  bottom: 4%
}

.soccer #arena .events .throw.team2.zone1, .soccer #arena .events .throw.team2.zone2 {
  right: 3%
}

.soccer #arena .events .throw.team1.zone1, .soccer #arena .events .throw.team1.zone2 {
  left: 3%
}

.soccer #arena .events .throw.team2.zone3, .soccer #arena .events .throw.team2.zone4, .soccer #arena .events .throw.team2.zone0 {
  right: 29%
}

.soccer #arena .events .throw.team1.zone3, .soccer #arena .events .throw.team1.zone4, .soccer #arena .events .throw.team1.zone0 {
  left: 29%
}

.soccer #arena .events .throw.team2.zone5, .soccer #arena .events .throw.team2.zone6 {
  right: 50%
}

.soccer #arena .events .throw.team1.zone5, .soccer #arena .events .throw.team1.zone6 {
  left: 50%
}

.soccer .events .throw p:before {
  width: 56%;
  height: 100%;
  background-image: url(liquid_grfx/throwin01@4x.gif);
  -webkit-background-size: 65%;
  background-size: 65%
}

.soccer .events .throw.team2.zone1 p:before, .soccer .events .throw.team2.zone3 p:before, .soccer .events .throw.team2.zone5 p:before, .soccer .events .throw.team1.zone2 p:before, .soccer .events .throw.team1.zone4 p:before, .soccer .events .throw.team1.zone6 p:before, .soccer .events .throw.zone0 p:before {
  top: 1%
}

.soccer .events .throw.team2.zone2 p:before, .soccer .events .throw.team2.zone4 p:before, .soccer .events .throw.team2.zone6 p:before, .soccer .events .throw.team1.zone1 p:before, .soccer .events .throw.team1.zone3 p:before, .soccer .events .throw.team1.zone5 p:before {
  bottom: 1.5%
}

.soccer .events .throw.team2.zone1 p:before, .soccer .events .throw.team2.zone2 p:before, .soccer .events .throw.team2.zone3 p:before, .soccer .events .throw.team2.zone4 p:before, .soccer .events .throw.team2.zone0 p:before {
  right: 85%
}

.soccer .events .throw.team1.zone1 p:before, .soccer .events .throw.team1.zone2 p:before, .soccer .events .throw.team1.zone3 p:before, .soccer .events .throw.team1.zone4 p:before, .soccer .events .throw.team1.zone0 p:before {
  left: 85%
}

.soccer .events .throw.team2.zone5 p:before, .soccer .events .throw.team2.zone6 p:before {
  background-position: bottom;
  right: 100%
}

.soccer .events .throw.team1.zone5 p:before, .soccer .events .throw.team1.zone6 p:before {
  background-position: bottom;
  left: 100%
}

.soccer .events .throw.zone5 p:before, .soccer .events .throw.zone6 p:before {
  width: 15%;
  background-image: url(liquid_grfx/throwin02@4x.gif)
}

.soccer .events .throw.team2.zone1 p:before, .soccer .events .throw.team2.zone3 p:before, .soccer .events .throw.team2.zone5 p:before, .soccer .events .throw.team2.zone0 p:before {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1)
}

.soccer .events .throw.team2.zone2 p:before, .soccer .events .throw.team2.zone4 p:before {
  -webkit-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  -moz-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1)
}

.soccer .events .throw.team2.zone5 p:before, .soccer .events .throw.team1.zone1 p:before, .soccer .events .throw.team1.zone3 p:before, .soccer .events .throw.team1.zone6 p:before {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1)
}

.soccer .events .goalkick {
  width: 50%;
  padding: 0 8%
}

.soccer .events .goalkick p:before {
  top: 30%
}

.soccer .events .goalkick.team1 {
  text-align: left
}

.soccer .events .goalkick.team2 {
  text-align: right
}

.soccer .events .goalkick.team1 p:before {
  left: 3.2%;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1)
}

.soccer .events .goalkick.team2 p:before {
  right: 3.2%
}

.soccer .events .sfreekick p:after, .soccer .events .dfreekick p:after {
  width: 41%;
  height: 47%;
  background-image: url(liquid_grfx/freekick01@4x.gif);
  -webkit-background-size: 100%;
  background-size: 100%
}

.soccer .events .dfreekick.zone3 p:after, .soccer .events .dfreekick.zone4 p:after {
  width: 39%;
  height: 100%;
  background-image: url(liquid_grfx/freekick04@4x.gif);
  -webkit-background-size: 69%;
  background-size: 69%
}

.soccer .events .dfreekick.zone1 p:after {
  background-image: url(liquid_grfx/freekick-short@4x.gif);
  width: 30%;
  -webkit-background-size: 69%;
  background-size: 69%
}

.soccer .events .sfreekick, .soccer .events .dfreekick {
  width: 38%;
  height: 40%;
  margin-top: 12%
}

.soccer .events .sfreekick.team1.zone6 {
  margin-right: 54%
}

.soccer .events .sfreekick.team2.zone6 {
  margin-left: 54%
}

.soccer .events .sfreekick.team1.zone5 {
  margin-right: 40%
}

.soccer .events .sfreekick.team2.zone5 {
  margin-left: 40%
}

.soccer .events .dfreekick.zone1, .soccer .events .dfreekick.zone2 {
  margin-top: 9%
}

.soccer .events .dfreekick.team1.zone2 {
  margin-right: 20%
}

.soccer .events .dfreekick.team2.zone2 {
  margin-left: 16%
}

.soccer .events .dfreekick.team1.zone1 {
  margin-right: 12%
}

.soccer .events .dfreekick.team2.zone1 {
  margin-left: 8%
}

.soccer .events .dfreekick.team1.zone4 {
  margin-top: 3.5%;
  margin-right: 16%
}

.soccer .events .dfreekick.team2.zone4 {
  margin-top: 21%;
  margin-left: 16%
}

.soccer .events .dfreekick.team1.zone3 {
  margin-top: 21%;
  margin-right: 16%
}

.soccer .events .dfreekick.team2.zone3 {
  margin-top: 3.5%;
  margin-left: 16%
}

.soccer .events .sfreekick.team1, .soccer .events .dfreekick.team1 {
  text-align: right
}

.soccer .events .sfreekick.team2, .soccer .events .dfreekick.team2 {
  text-align: left
}

.soccer .events .team1.sfreekick p, .soccer .events .team1.dfreekick p {
  padding-left: 0;
  padding-right: 14px
}

.soccer .events .dfreekick p {
  padding-left: 14px
}

.soccer .events .team1.dfreekick p span.type {
  white-space: nowrap;
  direction: rtl
}

.soccer .events .team2.dfreekick p span.type {
  white-space: nowrap;
  direction: ltr
}

.soccer .events .sfreekick p {
  padding-left: 14px
}

.soccer .events .team1.sfreekick p:after {
  bottom: -10%
}

.soccer .events .team1.dfreekick.zone1 p:after, .soccer .events .team2.dfreekick.zone1 p:after, .soccer .events .team1.dfreekick.zone2 p:after, .soccer .events .team2.dfreekick.zone2 p:after {
  bottom: -15%
}

.soccer .events .dfreekick.zone3 p:after, .soccer .events .dfreekick.zone4 p:after {
  top: 0
}

.soccer .events .team1.dfreekick p:after {
  right: -32%
}

.soccer .events .team1.dfreekick.zone1 p:after {
  right: -15%
}

.soccer .events .team1.dfreekick.zone5 p:after, .soccer .events .team1.dfreekick.zone6 p:after, .soccer .events .team2.dfreekick.zone3 p:after {
  -webkit-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  -moz-transform: scaleX(-1) scaleY(-1);
  -o-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1)
}

.soccer .events .team2.dfreekick.zone5 p:after, .soccer .events .team2.dfreekick.zone6 p:after {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1)
}

.soccer .events .team1.dfreekick.zone4 p:after {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1)
}

.soccer .events .team1.dfreekick.zone1 p:after, .soccer .events .team1.dfreekick.zone2 p:after, .soccer .events .team2.dfreekick.zone4 p:after {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1)
}

.soccer .events .team2.dfreekick p:after {
  left: -32%
}

.soccer .events .team2.dfreekick.zone1 p:after {
  left: -15%
}

.soccer .events .team1.sfreekick p:after {
  right: -25%;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1)
}

.soccer .events .team2.sfreekick p:after {
  left: -25%
}

.soccer .events .abouttotake, .soccer .events .penalty {
  height: 37%;
  width: 55%;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  box-pack: center;
  padding: 0 12%
}

.soccer .events .abouttotake, .soccer .events .penalty.team1 {
  text-align: right
}

.soccer .events .penalty.team2 {
  text-align: left
}

.soccer .events .abouttotake p:before, .soccer .events .penalty p:before {
  position: absolute;
  width: 7.5%;
  height: 35%;
  background-color: rgba(158, 7, 7, 0.2);
  top: 32%;
  left: 1.8%;
  margin: 0 1.8%;
  background-image: url(liquid_grfx/penalty@4x.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%
}

.soccer .events .abouttotake p:before, .soccer .events .penalty.team1 p:before {
  left: auto;
  right: -1px;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1)
}

.soccer .events .penalty.team2 p:before {
  margin: 0
}

.soccer .events .abouttotake .type {
  text-transform: uppercase
}

.match-live #arena .events #substitutionEvent {
  min-width: 55%;
  max-width: 75%;
  height: 56%;
  padding: 1% 3%;
  font-size: 1.2em
}

.match-live #arena .events #substitutionEvent p {
  display: table;
  height: 100%
}

.match-live #arena .events #substitutionEvent b {
  height: 23%;
  display: table-row
}

.match-live #arena .events #substitutionEvent b.space {
  height: 5%
}

.match-live #arena .events #substitutionEvent span {
  display: table-cell;
  line-height: 1em;
  vertical-align: middle
}

.match-live #arena .events p span.sub {
  line-height: 1em;
  padding-left: 10%;
  background-color: #ccd2b5;
  border: 1px solid #394c04;
  border-radius: 3px;
  font-size: .9em;
  color: #465f00;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-align: left;
  background-repeat: no-repeat;
  background-position: 3% 40%;
  -webkit-background-size: auto 80%;
  background-size: auto 80%;
  text-transform: uppercase
}

.sub.on {
  background-image: url(liquid_grfx/arrow_green@2x.png)
}

.sub.off {
  background-image: url(liquid_grfx/arrow_red@2x.png);
  opacity: .7
}

.match-live #arena .events #pregameInfo {
  display: block;
  min-width: 60%;
  max-width: 68%;
  max-height: 70%;
  padding: 0 10px
}

.match-live #arena .events div #pregameHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  box-pack: center;
  padding: 1% 0;
  font-size: .8em;
  color: #b9c199;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08)
}

.match-live #arena .events div .teamSummary {
  display: table;
  width: 100%;
  padding: 4% 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

.teamSummary > span {
  display: table-cell;
  vertical-align: middle
}

.teamSummary .pregameTeam {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 79px;
  max-width: 79px
}

#teamLeft {
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap
}

.vs {
  width: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5)
}

#teamRight {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap
}

.infoKit {
  width: 23px
}

.infoKit span {
  background-image: url(liquid_grfx/green-stripe@2x.png);
  -webkit-background-size: 80% auto;
  background-position: center 48%;
  background-repeat: no-repeat;
  background-size: 80% auto;
  display: block
}

.infoKit span, .infoKit svg {
  width: 23px;
  height: 20px
}

.weather {
  display: table;
  width: 100%;
  padding: 1% 0;
  color: #ddd;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  text-align: center;
  font-size: .7em
}

.weather > span {
  width: 50%;
  display: table-cell;
  vertical-align: middle
}

#weatherCon > .weatherText {
  position: relative
}

.weatherText > b {
  position: absolute;
  right: 90%;
  height: 120%;
  width: 20px;
  top: -8%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: auto 100%;
  background-size: auto 100%
}

#pitchCon > b {
  color: #b9c199
}

.good {
  background-image: url(liquid_grfx/weather/Good@2x.png)
}

.windy {
  background-image: url(liquid_grfx/weather/Windy@2x.png)
}

.stormy {
  background-image: url(liquid_grfx/weather/Stormy@2x.png)
}

.rainy {
  background-image: url(liquid_grfx/weather/Rainy@2x.png)
}

.snowy {
  background-image: url(liquid_grfx/weather/Snowy@2x.png)
}

.veryHot {
  background-image: url(liquid_grfx/weather/VeryHot@2x.png)
}

.heavyRain {
  background-image: url(liquid_grfx/weather/HeavyRain@2x.png)
}

.lightRain {
  background-image: url(liquid_grfx/weather/LightRain@2x.png)
}

.cloudy {
  background-image: url(liquid_grfx/weather/Cloudy@2x.png)
}

.heavySnow {
  background-image: url(liquid_grfx/weather/HeavySnow@2x.png)
}

.lightSnow {
  background-image: url(liquid_grfx/weather/LightSnow@2x.png)
}

.sleetHail {
  background-image: url(liquid_grfx/weather/Sleet-Hail@2x.png)
}

.highWind {
  background-image: url(liquid_grfx/weather/HighWind@2x.png)
}

.lightWind {
  background-image: url(liquid_grfx/weather/LightWind@2x.png)
}

.sunny {
  background-image: url(liquid_grfx/weather/Sun@2x.png)
}

.hot {
  background-image: url(liquid_grfx/weather/Hot@2x.png)
}

.mild {
  background-image: url(liquid_grfx/weather/Mild@2x.png)
}

.cold {
  background-image: url(liquid_grfx/weather/Cold@2x.png)
}

.fog {
  background-image: url(liquid_grfx/weather/Fog@2x.png)
}

.thunderstorm {
  background-image: url(liquid_grfx/weather/Thunderstorm@2x.png)
}

.match-live #summary .graphs {
  padding: 5px 0 0
}

.match-live #summary .graphs li {
  height: 30%
}

.soccer #arena .events .shootout {
  display: table;
  padding: 0;
  font-size: 1.2em;
  text-align: left;
  height: 42%;
  width: 75%
}

.soccer #arena .events .shootout .type {
  text-align: center;
  line-height: 1.5;
  border-bottom: 1px solid #4b5c09;
  background-color: #5b6e0d;
  display: block;
  height: 20%
}

.soccer #arena .events .shootout table {
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;
  color: #fff
}

.soccer #arena .events .shootout table th {
  min-width: 24px;
  color: #c1c9a3;
  text-shadow: none
}

.soccer #arena .events .shootout table tbody th {
  color: #fff
}

.soccer #arena .events .shootout table th, .soccer #arena .events .shootout table td {
  padding: 1px;
  line-height: 1.4;
  text-align: center;
  border-bottom: 1px solid #4b5c09;
  border-top: 1px solid #5b6d19;
  border-left: 1px solid #5b6d19;
  border-right: 1px solid #4b5c09
}

.soccer #arena .events .shootout table tr th:last-child, .soccer #arena .events .shootout table tr td:last-child {
  border-right: 0
}

.soccer #arena .events .shootout table tr:last-child td:first-child {
  border-top: 0
}

.soccer #arena .events .shootout table tbody tr:last-child th, .soccer #arena .events .shootout table tbody tr:last-child td {
  border-bottom: 0
}

.soccer #arena .events .shootout table th:empty {
  border-left: 0
}

.soccer #arena .events .shootout table tr#t1 th, .soccer #arena .events .shootout table tr#t2 th {
  max-width: 100px;
  min-width: 100px;
  padding: 0 4px;
  text-align: left;
  border-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.shootout .score, .shootout .miss {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 55% auto;
  background-size: 55% auto
}

.shootout .score {
  background-image: url(liquid_grfx/SoccerBall@2x.png)
}

.shootout .miss {
  background-image: url(liquid_grfx/cross@2x.png)
}

.score .type {
  text-transform: uppercase
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .coupon-stats.icons .corners, .stats.icons .corners {
    background-image: url(grfx/@2x/corner-stats-flag@2x.png);
    background-size: 9px 15px;
    -webkit-background-size: 9px 15px
  }
}

@media screen and (-moz-device-pixel-ratio) {
  .soccer #arena .events .possession, .soccer #arena .events .corner, .soccer #arena .events .goal, .soccer #arena .events .offside {
    display: inline-table
  }
}