#RHSWrapper #mbDiv {
  padding: 0;
  margin: 0
}

#RHSWrapper #MyBetsInPlay {
  padding: 0;
  margin: 0
}

.my-bets-wrapper {
  font-size: 13px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0)
}

.my-bets-wrapper .messageBox {
  border: 0;
  background: 0;
  -webkit-box-shadow: inset 0 1px 0 #555;
  -moz-box-shadow: inset 0 1px 0 #555;
  -ms-box-shadow: inset 0 1px 0 #555;
  box-shadow: inset 0 1px 0 #555;
  min-height: 100px;
  width: 100%;
  padding: 18px 0 10px 0;
  margin: 0 auto 0 auto
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .messageBox h3, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .messageBox h3 {
  color: #bbb;
  line-height: 20px;
  text-align: center;
  border: 0;
  background: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  padding-right: 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  font-weight: normal !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .messageBox h3 {
  color: #666;
  text-align: center;
  line-height: 20px;
  border: 0;
  background: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  padding-right: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  font-weight: normal !important
}

.my-bets-wrapper ul {
  overflow: hidden
}

.my-bets-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.my-bets-wrapper a {
  text-decoration: none;
  color: inherit
}

#RHSWrapper.inplay #MyBetsButtonHolder {
  height: 41px;
  border-bottom: 1px solid #333;
  -webkit-box-shadow: inset 0 1px 0 #555, 0 1px 0 #555;
  -moz-box-shadow: inset 0 1px 0 #555, 0 1px 0 #555;
  -ms-box-shadow: inset 0 1px 0 #555, 0 1px 0 #555;
  box-shadow: inset 0 1px 0 #555, 0 1px 0 #555;
  width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  margin-top: -1px;
  clear: both
}

.betSlipPopupHeader {
  height: 38px;
  line-height: 38px;
  width: 239px !important;
  text-align: center;
  border-left: 1px solid #378e75;
  position: absolute;
  z-index: 103;
  right: 1px;
  top: 45px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden
}

.betSlipPopupHeader[data-orientation="P"] {
  width: 279px !important;
  right: 1px !important;
  overflow: hidden
}

.betSlipPopupHeader ul li:first-child {
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.1)
}

.betSlipPopupHeader a {
  display: inline-block
}

.betSlipPopupHeader a span {
  float: left;
  display: inline-block
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header a {
  display: inline-block
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header a span {
  float: left;
  display: inline-block
}

#headerContainer.prematch .betSlipPopupHeader a {
  display: inline-block
}

#headerContainer.inplay .betSlipPopupHeader .my-bets-header .on a {
  color: #fff;
  font-weight: 700;
  display: inline-block
}

#headerContainer.prematch .betSlipPopupHeader[data-orientation="P"] .betSlipPopupPointer {
  margin-top: 1px !important
}

#headerContainer.prematch .betSlipPopupHeader[data-orientation="P"] .betSlipPopupPointer::after {
  font-family: 'bet365';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\e00D";
  color: #DDD;
  font-size: 18px !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  margin-left: -5px
}

#headerContainer.prematch .betSlipPopupHeader[data-orientation="P"] .on .betSlipPopupPointer::after {
  font-family: 'bet365';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\e00D";
  color: white;
  font-size: 18px !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  margin-left: -5px
}

#headerContainer.inplay .betSlipPopupHeader {
  width: 42%
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header .spanBetSlipCount {
  padding: 1px;
  width: 12px;
  height: 12px;
  font-size: 10px !important;
  line-height: 10px !important;
  text-align: center;
  background-color: #ffdf1b;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  margin: 2px;
  color: black !important;
  text-shadow: none
}

.betSlipPopupHeader .spanBetSlipCount {
  padding: 1px;
  width: 15px;
  height: 15px;
  font-size: 11px !important;
  line-height: 15px !important;
  text-align: center;
  background-color: #ffdf1b;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  margin: 2px;
  color: black !important;
  text-shadow: none
}

#headerContainer.prematch .betSlipPopupHeader .my-bets-header {
  color: #ddd;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-shadow: #000 0 -1px 0;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  border: 0;
  height: 38px;
  width: 100%
}

#headerContainer.prematch .betSlipPopupHeader .on {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#66b49c), to(#54a28a));
  background: -webkit-linear-gradient(#66b49c 0, #54a28a 100%);
  background: -moz-linear-gradient(#66b49c 0, #54a28a 100%);
  background: -o-linear-gradient(#66b49c 0, #54a28a 100%);
  background: linear-gradient(#66b49c 0, #54a28a 100%)
}

#headerContainer.prematch .betSlipPopupHeader .on a span:first-child {
  color: #fff !important
}

#headerContainer.prematch .betSlipPopupHeader .my-bets-header li:last-child {
  border-left: solid 1px rgba(255, 255, 255, 0.1)
}

#headerContainer.prematch .betSlipPopupHeader .my-bets-header li:first-child {
  border-right: solid 1px #378e75
}

.betSlipPopupHeader[data-orientation="P"] ul li:first-child {
  width: 115px !important
}

#headerContainer.prematch .betSlipPopupHeader[data-orientation="P"] .my-bets-header li:last-child {
  width: 140px !important
}

.my-bets-header ul {
  width: 238px !important;
  display: inline-block !important
}

#headerContainer.prematch .betSlipPopupHeader .my-bets-header ul {
  width: 238px !important;
  display: inline-block !important
}

#headerContainer.prematch .betSlipPopupHeader[data-orientation="P"] .my-bets-header ul {
  width: 278px !important;
  display: inline-block !important
}

.betSlipPopupHeader[data-orientation='P'] .my-bets-header ul li {
  height: 38px !important;
  line-height: 37px !important;
  text-align: center !important;
  margin: 0;
  padding: 0 0 0 6px !important;
  box-sizing: border-box;
  float: left !important;
  display: inline-block !important;
  list-style: none
}

.betSlipPopupHeader[data-orientation='L'] .my-bets-header ul li {
  width: 118px !important;
  height: 38px !important;
  line-height: 37px !important;
  text-align: center !important;
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  float: left !important;
  display: inline-block !important;
  list-style: none
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header {
  padding: 7px 10px 0 10px;
  font-size: .9em !important;
  text-align: center;
  height: 28px
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header ul {
  height: 28px !important;
  width: 100% !important;
  display: inline-block !important
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header ul li {
  color: #ddd !important;
  font-size: .9em !important;
  width: 49% !important;
  height: 28px !important;
  line-height: 26px !important;
  text-align: center !important;
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  float: left !important;
  display: inline-block !important;
  list-style: none
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header ul li:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-shadow: #000 0 -1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  border: 1px solid #333;
  -webkit-box-shadow: inset 0 1px 0 #5d5d5d;
  -moz-box-shadow: inset 0 1px 0 #5d5d5d;
  -ms-box-shadow: inset 0 1px 0 #5d5d5d;
  box-shadow: inset 0 1px 0 #5d5d5d
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header ul li:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-shadow: #000 0 -1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  -webkit-box-shadow: inset 0 1px 0 #5d5d5d;
  -moz-box-shadow: inset 0 1px 0 #5d5d5d;
  -ms-box-shadow: inset 0 1px 0 #5d5d5d;
  box-shadow: inset 0 1px 0 #5d5d5d
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header .on {
  background-color: #616161 !important;
  color: white !important;
  font-weight: 700;
  -webkit-box-shadow: inset 0 1px 0 #717171 !important;
  -moz-box-shadow: inset 0 1px 0 #717171 !important;
  -ms-box-shadow: inset 0 1px 0 #717171 !important;
  box-shadow: inset 0 1px 0 #717171 !important
}

#RHSWrapper.inplay #MyBetsButtonHolder .my-bets-header .on a span:first-of-type {
  color: white !important;
  font-weight: 700
}

#RHSWrapper[data-orientation='L'].inplay .my-bets-wrapper .header-bg, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .header-bg {
  width: 100%;
  min-height: 32px;
  border-bottom: 1px solid #333;
  margin-bottom: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  padding: 0 5px 5px 5px;
  box-sizing: border-box
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .header-bg {
  width: 100%;
  min-height: 32px;
  -webkit-box-shadow: inset 0 1px 0 #555;
  -moz-box-shadow: inset 0 1px 0 #555;
  -ms-box-shadow: inset 0 1px 0 #555;
  box-shadow: inset 0 1px 0 #555;
  border-top: 0;
  border-bottom: 1px solid #333;
  margin-bottom: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  padding: 0 5px 5px 5px;
  box-sizing: border-box
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .header-bg {
  width: 100%;
  min-height: 32px;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 0 1px 0 #c9c9c9;
  box-shadow: 0 1px 0 #c9c9c9;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  padding: 0 5px 5px 5px;
  box-sizing: border-box
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper ul.content, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper ul.content {
  -webkit-box-shadow: inset 0 1px 0 #555;
  -moz-box-shadow: inset 0 1px 0 #555;
  -ms-box-shadow: inset 0 1px 0 #555;
  box-shadow: inset 0 1px 0 #555;
  border-top: 0;
  margin-top: 0
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .selector-text, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .selector-text {
  color: #bbb;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  line-height: 20px;
  padding: 2px 0 1px 5px;
  font-weight: normal;
  display: block;
  width: 100%
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .selector-text {
  color: #666;
  line-height: 20px;
  padding: 2px 0 1px 5px;
  font-size: 13px;
  text-shadow: #fff 0 1px 0;
  text-shadow: rgba(255, 255, 255, 0.0980392) 0 1px 0;
  display: block;
  width: 100%
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .selector {
  -webkit-appearance: none;
  border: 1px solid #333;
  height: 32px;
  color: #bbb;
  font-size: 12px;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background: url('../../../imgs/tablet/common/tablet_HiRes_Arrows.png') #424242 right 11px no-repeat;
  background-size: 24px 178px;
  background-position: right 12px !important;
  background-color: #555;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  width: 100%;
  margin: 0 !important
}

#RHSWrapper[data-orientation='L'].inplay .my-bets-wrapper .selector {
  -webkit-appearance: none;
  border: 1px solid #333;
  height: 32px;
  color: #bbb;
  font-size: 12px;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background: url('../../../imgs/tablet/common/tablet_HiRes_Arrows.png') #424242 right 11px no-repeat;
  background-size: 24px 178px;
  background-position: right 12px !important;
  background-color: #555;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  width: 100%;
  margin: 0 !important
}

#RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .selector {
  -webkit-appearance: none;
  border: 1px solid #333;
  height: 32px;
  font-size: 12px;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background: url('../../../imgs/tablet/common/tablet_HiRes_Arrows.png') #424242 right 11px no-repeat;
  background-size: 24px 178px;
  background-position: right 12px !important;
  background-color: #555;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  width: 100%;
  margin: 0 !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .selector {
  color: #06855f;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  border: 1px solid #999;
  height: 32px;
  font-size: 12px;
  font-weight: bold;
  background: url('../../../imgs/tablet/common/betslip-portrait-sprite.png') no-repeat;
  background-size: 41px 291px;
  background-position: right -171px !important;
  background-color: #c9c9c9;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15);
  width: 100%;
  margin: 0 !important
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .unsettled-bets, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .unsettled-bets {
  color: #bbb;
  padding: 7px 0 0 9px;
  font-weight: bold;
  text-shadow: #000 0 -1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  display: inline-block
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .unsettled-bets {
  color: #666;
  padding: 7px 0 0 9px;
  font-weight: bold;
  font-size: 13px;
  text-shadow: #fff 0 1px 0;
  text-shadow: rgba(255, 255, 255, 0.0980392) 0 1px 0;
  display: inline-block
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .type, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .type {
  font-size: 12px;
  font-weight: normal;
  margin-top: 3px;
  color: #BBB;
  line-height: 18px !important;
  text-shadow: none !important
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet .selections, #RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet .selections, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet .selections, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet .selections {
  list-style: none;
  padding: 0 !important;
  width: 100% !important;
  height: auto
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet .selections .selection, #RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet .selections .selection, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet .selections .selection, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet .selections .selection {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  padding: 0 !important;
  width: 100%;
  line-height: 20px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet .returned, #RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet .returned, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet .returned, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet .returned {
  font-weight: normal !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet .selections, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet .selections {
  list-style: none;
  padding: 0 !important;
  width: 100% !important;
  height: auto
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet .selections .selection, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet .selections .selection {
  font-weight: bold;
  list-style: none;
  display: inline-block;
  color: #545454;
  padding: 0 !important;
  width: 100%;
  line-height: 20px
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet .returned, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet .returned {
  font-weight: normal !important
}

.my-bets-wrapper .selection-link {
  background-image: none !important
}

.my-bets-wrapper .close-bet-link {
  background-image: none !important
}

.my-bets-wrapper .selection .selection-description {
  float: left;
  width: 75%;
  display: block;
  line-height: 20px;
  font-size: 15px
}

.my-bets-wrapper .odds {
  float: right;
  top: 0;
  right: 0;
  display: block;
  text-align: right;
  width: 25%;
  font-size: 15px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .value, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .value {
  color: #bbb;
  padding-left: 4px;
  font-size: 12px;
  line-height: 20px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet .bet-wrapper .return, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet .bet-wrapper .return {
  display: inline-block;
  width: 50%;
  float: left !important;
  box-sizing: border-box;
  text-align: right;
  color: #ddd;
  font-size: 12px;
  line-height: 20px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .taxed, #RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet .close-bet-wrapper .taxed, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .taxed, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet .close-bet-wrapper .taxed {
  display: inline-block;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  text-align: center;
  color: #ddd;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet .close-bet-wrapper .return, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet .close-bet-wrapper .return {
  display: inline-block;
  width: 50%;
  float: left !important;
  box-sizing: border-box;
  text-align: right;
  color: #ddd;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet .bet-wrapper .stake, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet .bet-wrapper .stake {
  display: inline-block;
  width: 50%;
  float: left !important;
  box-sizing: border-box;
  text-align: left;
  color: #ddd;
  font-size: 12px;
  line-height: 20px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet .close-bet-wrapper .stake, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet .close-bet-wrapper .stake {
  display: inline-block;
  width: 50%;
  float: left !important;
  box-sizing: border-box;
  text-align: left;
  color: #ddd;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet, #RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  background-color: #666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
  color: #ddd;
  border: 1px solid #333;
  padding-top: 5px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0)
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .type {
  font-size: 12px;
  font-weight: normal;
  margin-top: 3px;
  color: #666;
  line-height: 18px !important;
  text-shadow: none !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .value {
  color: #666;
  padding-left: 4px;
  font-size: 12px;
  font-weight: bold !important;
  line-height: 20px;
  text-shadow: none !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet .bet-wrapper .stake {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  color: #545454;
  font-size: 12px;
  font-weight: bold !important;
  line-height: 20px;
  text-shadow: none !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet .close-bet-wrapper .stake {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  color: #545454;
  font-size: 12px;
  font-weight: bold !important;
  line-height: 20px;
  margin-bottom: 4px;
  text-shadow: none !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .taxed, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet .close-bet-wrapper .taxed {
  display: inline-block;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  text-align: center;
  color: #545454;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet .bet-wrapper .return {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  width: 50%;
  color: #545454;
  font-size: 12px;
  font-weight: bold !important;
  line-height: 20px;
  text-shadow: none !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet .close-bet-wrapper .return {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  width: 50%;
  color: #545454;
  font-size: 12px;
  font-weight: bold !important;
  line-height: 20px;
  text-shadow: none !important;
  margin-bottom: 4px
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .selections .selection {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  color: #666;
  padding: 0 !important;
  width: 100%;
  line-height: 20px;
  text-shadow: none !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  background-color: #c9c9c9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 5px 0 0 0;
  color: #666;
  border: 1px solid #999;
  padding-top: 5px;
  margin: 5px;
  text-shadow: none !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0)
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet li, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet li, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  margin: 0
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet li, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet li, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  margin: 0
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet {
  padding-top: 5px
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet {
  padding-top: 5px
}

.my-bets-wrapper .close-bet li:last-child {
  list-style: none;
  margin: 0;
  width: auto
}

.my-bets-wrapper .close-bet ul, .my-bets-wrapper .bet ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%
}

.my-bets-wrapper .bet ul li, .my-bets-wrapper .close-bet ul li {
  list-style: none;
  padding: 0 !important
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet-wrapper, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet-wrapper, #RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet-wrapper, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet-wrapper {
  clear: both;
  background-color: #545454;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -ms-border-radius-topleft: 4px;
  -ms-border-radius-topright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 -1px 0 #4e4e4e;
  -moz-box-shadow: 0 -1px 0 #4e4e4e;
  -ms-box-shadow: 0 -1px 0 #4e4e4e;
  box-shadow: 0 -1px 0 #4e4e4e;
  border-top: solid 1px #5e5e5e;
  padding: 0 5px 5px 5px !important
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .bet-wrapper ul, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .bet-wrapper ul, #RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet-wrapper ul, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet-wrapper ul {
  width: 100%;
  padding: 3px 5px 0 5px !important;
  box-sizing: border-box
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet-wrapper, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet-wrapper {
  clear: both;
  background-color: #DDD;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -ms-border-radius-topleft: 4px;
  -ms-border-radius-topright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  border-top: solid 1px #aaa;
  padding: 3px 5px 5px 5px !important
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .bet-wrapper ul, #RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet-wrapper ul {
  width: 100%;
  padding: 3px 5px 0 5px !important;
  box-sizing: border-box
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet-button, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet-button {
  font-size: 13px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  font-weight: 700;
  height: 40px;
  width: 100%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#929292), to(#7b7b7b));
  background: -webkit-linear-gradient(#929292 0, #7b7b7b 100%);
  background: -moz-linear-gradient(#929292 0, #7b7b7b 100%);
  background: -o-linear-gradient(#929292 0, #7b7b7b 100%);
  background: linear-gradient(#929292 0, #7b7b7b 100%);
  -webkit-box-shadow: inset 0 1px 0 #9e9e9e !important;
  -moz-box-shadow: inset 0 1px 0 #9e9e9e !important;
  -ms-box-shadow: inset 0 1px 0 #9e9e9e !important;
  box-shadow: inset 0 1px 0 #9e9e9e !important;
  border: 1px solid #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  display: table;
  background-clip: border-box
}

.my-bets-wrapper .close-bet-button-accept {
  font-size: 13px;
  color: #625105;
  font-weight: 700;
  height: 40px;
  width: 100%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fee43f), to(#d7bc18));
  background: -moz-linear-gradient(#fee43f 0, #d7bc18 100%);
  background: -o-linear-gradient(#fee43f 0, #d7bc18 100%);
  background: linear-gradient(to bottom, #fee43f, #d7bc18);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 0 0 #fff;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 0 0 #fff;
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 0 0 #fff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 0 0 #fff;
  border: 1px solid #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  display: table;
  background-clip: border-box;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3)
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet-button-off, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet-button-off {
  font-size: 13px;
  color: #bbb;
  font-weight: 700;
  height: 40px;
  width: 100%;
  background-color: #4d4d4d;
  -webkit-box-shadow: inset 0 1px 0 #525252 !important;
  -moz-box-shadow: inset 0 1px 0 #525252 !important;
  -ms-box-shadow: inset 0 1px 0 #525252 !important;
  box-shadow: inset 0 1px 0 #525252 !important;
  border: 1px solid #454545;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  display: table;
  background-clip: border-box
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet-button {
  font-size: 13px;
  color: #bbdbd3;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  font-weight: 700;
  height: 40px;
  width: 100%;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#228d71), to(#158065));
  background: -webkit-linear-gradient(#228d71 0, #158065 100%);
  background: -moz-linear-gradient(#228d71 0, #158065 100%);
  background: -o-linear-gradient(#228d71 0, #158065 100%);
  background: linear-gradient(#228d71 0, #158065 100%);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1) !important;
  border: 1px solid #06593d !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  display: table;
  background-clip: border-box
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet-button-off {
  font-size: 13px;
  color: #bbb;
  font-weight: 700;
  height: 40px;
  width: 100%;
  background-color: #999;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) !important;
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1) !important;
  border: 1px solid #858585;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  display: table;
  background-clip: border-box
}

.my-bets-wrapper .close-bet-button span, .my-bets-wrapper .close-bet-button-accept span, .my-bets-wrapper .close-bet-button-off span {
  display: table-cell;
  vertical-align: middle;
  line-height: 20px;
  width: 100%
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet-return, #RHSWrapper[data-orientation='P'].inplay .my-bets-wrapper .close-bet-return {
  color: #ffdf1b;
  padding-left: 5px;
  display: inline-block
}

#RHSWrapper[data-orientation='L'] .my-bets-wrapper .close-bet-button-accept .close-bet-return, #RHSWrapper[data-orientation='P'] .my-bets-wrapper .close-bet-button-accept .close-bet-return {
  color: Black;
  padding-left: 5px;
  display: inline-block
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet-return {
  color: white;
  padding-left: 5px;
  display: inline-block
}

.my-bets-wrapper .close-bet-button-accept .close-bet-return {
  color: Black;
  padding-left: 5px;
  display: inline-block
}

#RHSWrapper[data-orientation='P'].prematch .my-bets-wrapper .close-bet-button-accept .close-bet-return {
  color: Black;
  padding-left: 5px;
  display: inline-block
}

.flashText {
  -webkit-animation: FlashText 3s;
  -moz-animation: FlashText 3s;
  -ms-animation: FlashText 3s;
  -o-animation: FlashText 3s;
  animation: FlashText 3s
}

@-webkit-keyframes FlashText {
  0% {
    color: #816f00
  }
  15% {
    color: #333
  }
  30% {
    color: #816f00
  }
  45% {
    color: #333
  }
  60% {
    color: #816f00
  }
  75% {
    color: #333
  }
  90% {
    color: #816f00
  }
  100% {
    color: #333
  }
}

@-moz-keyframes FlashText {
  0% {
    color: #816f00
  }
  15% {
    color: #333
  }
  30% {
    color: #816f00
  }
  45% {
    color: #333
  }
  60% {
    color: #816f00
  }
  75% {
    color: #333
  }
  90% {
    color: #816f00
  }
  100% {
    color: #333
  }
}

@-ms-keyframes FlashText {
  0% {
    color: #816f00
  }
  15% {
    color: #333
  }
  30% {
    color: #816f00
  }
  45% {
    color: #333
  }
  60% {
    color: #816f00
  }
  75% {
    color: #333
  }
  90% {
    color: #816f00
  }
  100% {
    color: #333
  }
}

@keyframes FlashText {
  0% {
    color: #816f00
  }
  15% {
    color: #333
  }
  30% {
    color: #816f00
  }
  45% {
    color: #333
  }
  60% {
    color: #816f00
  }
  75% {
    color: #333
  }
  90% {
    color: #816f00
  }
  100% {
    color: #333
  }
}