@(title: String)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>

    <link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet" media="screen">
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>

    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
    <script src="@routes.Assets.at("javascripts/main.js")"></script>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>

    <div class="container-fluid" id="tennis-panel">
    </div>

  </body>
</html>
